/* Default light mode styles */
.collections-container {
  padding: 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: hsl(258, 82%, 52%);
}

.collections-list {
  list-style: none;
  padding: 0;
}

.collection-card {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.collection-info {
  display: flex;
  flex-direction: column;
}

.collection-info img {
  max-width: 100px;
  border-radius: 8px;
}

.action-buttons button {
  margin-left: 10px;
}

/* Dark mode styles */
body.dark .collections-container {
  background-color: #181818;
}

body.dark .collection-card {
  background-color: #222;
  border-color: #444;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

body.dark .collection-info h3 {
  color: #fff;
}

body.dark .collection-info p {
  color: #bbb;
}

body.dark .action-buttons button {
  background-color: #333;
  color: #fff;
  border: none;
}
