/* Apply Roboto font globally to the body */
body {
  font-family: 'Roboto', sans-serif; /* Apply Roboto font globally */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Base light mode styles */
body {
  background-color: #fff;
  color: #333;
  transition: all 0.3s ease-in-out;
}

header {
  background-color: #f1f1f1;
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 1.5rem;
}

.dark-mode-toggle {
  font-size: 1.5rem;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  transition: transform 0.2s;
}

.dark-mode-toggle:hover {
  transform: scale(1.2);
}

/* Dark mode styles */
body.dark {
  background-color: #121212;
  color: #fff;
}

body.dark header {
  background-color: #a46ffa;
  color: #fff;
}

body.dark .dark-mode-toggle {
  color: #fff;
}
